@charset "utf-8";
.container-fluid {
    background-color: pink;



}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {

}
na {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
}
navbar {
    background-color: black;
    background: black;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: black;
    background: none;
}
.container-fluid .container #carouselExampleIndicators1 {
    background-color: black;
}
.container-fluid .container #carouselExampleIndicators1 {
}
.container-fluid .container #carouselExampleIndicators1 {
}
.container-fluid .container #carouselExampleIndicators1 {
}
.container-fluid .container #carouselExampleIndicators1 {
    background-color: black;
}
.container-fluid .container #carouselExampleIndicators1 {
}
.container-fluid .container #carouselExampleIndicators1 {
    /* [disabled]background-color: #101010; */
}
.row .col-lg-4 .card.col-md-4.col-lg-12 {
    background-color: white;
}
#accordion1 .card #headingOne1 {
}
#accordion1 .card #headingOne1 {
}
#accordion1 .card #headingOne1 {
}
